*
{
    margin: 0;
    padding: 0;
}

body
{
    position: relative;
    margin: 0;
    padding-bottom: 43.9rem;
}

div.navbar-collapse
{
    flex-grow: 0;
}

.bg-dark
{
    background-color: black !important;
}
 
.container
{
    margin-top: 4%;
}

.jumbotron
{
    background-color: #ccdeff;
    padding-top: 4%;
}

.clock-icon
{
    font-size: 60px;
}

.order-title
{
    vertical-align: middle;
}

.order-subtext
{
    padding-top: 1%;
    padding-left: 8%;
}

.order-endtext
{
    margin-left: 8%;
}

a
{
    color: black;
}

.footer
{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;  
    padding: 1rem;
    background-color: black;
    text-align: center;
}

.footer-info
{
    margin-bottom: 11px;
    color: #FFFFFF;
    text-align: center;
}
  